name: Publish new package into test pypi

on:
  push:
    tags:
      - 'v*.*.*d'

jobs:
  build_manylinux:
    name: Build for manylinux
    runs-on: ubuntu-latest
    container:
      image: docker://quay.io/pypa/manylinux2010_x86_64

    steps:        
    - uses: actions/checkout@v1
      with:
        submodules: recursive
    - name: Install Git LFS
      run: |
        mkdir gitlfs && pushd gitlfs
        curl -L https://github.com/git-lfs/git-lfs/releases/download/v2.13.2/git-lfs-linux-amd64-v2.13.2.tar.gz | tar -zxv
        ./install.sh
        popd
    - name: Pull LFS files
      run: cd Kiwi && git lfs pull
    - name: Deploy
      continue-on-error: True
      env:
        TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: |
        mv Kiwi/ModelGenerator/sj.* model/kiwipiepy_model/
        mv Kiwi/ModelGenerator/extract.mdl model/kiwipiepy_model/
        mv Kiwi/ModelGenerator/default.dict model/kiwipiepy_model/
        
        /opt/python/cp38-cp38/bin/python setup.py sdist
        /opt/python/cp38-cp38/bin/python -m pip install twine wheel
        /opt/python/cp38-cp38/bin/python -m twine upload --repository testpypi dist/*.tar.gz
        for cp in cp36-cp36m cp37-cp37m cp38-cp38 cp39-cp39 cp310-cp310
        do
          /opt/python/${cp}/bin/python -m pip install twine wheel
          USE_MIMALLOC=1 /opt/python/${cp}/bin/python setup.py build bdist_wheel
          auditwheel repair dist/*-${cp}-linux_x86_64.whl
        done
        /opt/python/cp38-cp38/bin/python -m twine upload --repository testpypi wheelhouse/*.whl
        
        cd model
        /opt/python/cp38-cp38/bin/python setup.py sdist
        /opt/python/cp38-cp38/bin/python -m twine upload --repository testpypi dist/*.tar.gz

  build_macos_10_15:
    name: Build for macOS 10.15
    runs-on: macOS-10.15
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.6, 3.7, 3.8, 3.9]

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive
        lfs: true
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Deploy
      continue-on-error: True
      env:
        TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: |
        python -m pip install twine wheel
        MACOSX_DEPLOYMENT_TARGET=10.14 USE_MIMALLOC=1 python setup.py bdist_wheel
        twine upload --repository testpypi dist/*

  build_macos_11:
    name: Build for macOS 11
    runs-on: macOS-11
    strategy:
      max-parallel: 4
      matrix:
        python-version: ["3.10"]

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive
        lfs: true
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Deploy
      continue-on-error: True
      env:
        TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: |
        python -m pip install twine wheel
        MACOSX_DEPLOYMENT_TARGET=10.14 USE_MIMALLOC=1 python setup.py bdist_wheel
        twine upload --repository testpypi dist/*

  build_windows:
    name: Build for Windows
    runs-on: windows-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.6, 3.7, 3.8, 3.9, "3.10"]
        architecture: [x86, x64]

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive
        lfs: true
    - name: Set up Python ${{ matrix.python-version }} ${{ matrix.architecture }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
        architecture: ${{ matrix.architecture }}
    - name: Deploy
      continue-on-error: True
      env:
        TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: |
        python -m pip install --upgrade pip setuptools
        python -m pip install twine wheel
        $env:USE_MIMALLOC = 1; python setup.py bdist_wheel
        twine upload --repository testpypi dist/*

  build_other_arch:
    name: Build for manylinux (other arch)
    runs-on: ubuntu-18.04
    strategy:
      matrix:
        arch: [aarch64, ppc64le]

    steps:        
    - uses: actions/checkout@v2
      with:
        submodules: recursive
        lfs: true
    - uses: bab2min/run-on-arch-action@use-custom-image
      name: Deploy
      id: runcmd
      with:
        image: quay.io/pypa/manylinux2014_${{ matrix.arch }}
        githubToken: ${{ github.token }}
        setup: |
          mkdir -p "${PWD}/artifacts"
        dockerRunArgs: |
          --volume "${PWD}/artifacts:/artifacts"
        env: |
          TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: |
          mv Kiwi/ModelGenerator/sj.* model/kiwipiepy_model/
          mv Kiwi/ModelGenerator/extract.mdl model/kiwipiepy_model/
          mv Kiwi/ModelGenerator/default.dict model/kiwipiepy_model/
          
          for cp in cp36-cp36m cp37-cp37m cp38-cp38 cp39-cp39 cp310-cp310
          do
            /opt/python/${cp}/bin/python -m pip install wheel
            USE_MIMALLOC=1 /opt/python/${cp}/bin/python setup.py build bdist_wheel
            auditwheel repair dist/*-${cp}-*.whl
          done
          mv wheelhouse/*.whl /artifacts/
    - name: Upload wheels
      env:
        TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: |
        python3 -m pip install --upgrade pip setuptools
        python3 -m pip install twine wheel
        python3 -m twine upload --repository testpypi artifacts/*.whl
