name: Pull Request Test

on: 
  pull_request:
    branches: 
      - main

jobs:
  build_manylinux:
    name: Build for manylinux
    runs-on: ubuntu-latest
    container:
      image: docker://quay.io/pypa/manylinux2010_x86_64
    strategy:
      max-parallel: 4
      matrix:
        cp: [cp35-cp35m, cp36-cp36m, cp37-cp37m, cp38-cp38, cp39-cp39]

    steps:        
    - uses: actions/checkout@v1
      with:
        submodules: recursive
    - name: Build
      run: |
        mv Kiwi/ModelGenerator/sj.* model/kiwipiepy_model/
        mv Kiwi/ModelGenerator/extract.mdl model/kiwipiepy_model/
        mv Kiwi/ModelGenerator/default.dict model/kiwipiepy_model/
        
        cd model
        /opt/python/${{ matrix.cp }}/bin/python setup.py build install
        cd ..
        /opt/python/${{ matrix.cp }}/bin/python setup.py build install
    - name: Test
      run: |
        /opt/python/${{ matrix.cp }}/bin/python -m pip install pytest
        /opt/python/${{ matrix.cp }}/bin/python -m pytest --verbose test.py

  build_macos:
    name: Build for macOS
    runs-on: macOS-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.5, 3.6, 3.7, 3.8, 3.9]

    steps:
    - uses: actions/checkout@v1
      with:
        submodules: recursive
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Build
      run: |
        mv Kiwi/ModelGenerator/sj.* model/kiwipiepy_model/
        mv Kiwi/ModelGenerator/extract.mdl model/kiwipiepy_model/
        mv Kiwi/ModelGenerator/default.dict model/kiwipiepy_model/
        
        cd model
        python setup.py build install
        cd ..
        USE_MIMALLOC=1 python setup.py build install
    - name: Test
      run: |
        python -m pip install pytest
        python -m pytest --verbose test.py

  build_windows:
    name: Build for Windows
    runs-on: windows-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.5, 3.6, 3.7, 3.8, 3.9]
        architecture: [x86, x64]

    steps:
    - uses: actions/checkout@v1
      with:
        submodules: recursive
    - name: Set up Python ${{ matrix.python-version }} ${{ matrix.architecture }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
        architecture: ${{ matrix.architecture }}
    - name: Build
      run: |
        python -m pip install --upgrade pip setuptools
        mv Kiwi/ModelGenerator/sj.* model/kiwipiepy_model/
        mv Kiwi/ModelGenerator/extract.mdl model/kiwipiepy_model/
        mv Kiwi/ModelGenerator/default.dict model/kiwipiepy_model/
        
        cd model
        python setup.py build install
        cd ..
        $env:USE_MIMALLOC = 1; python setup.py build install
    - name: Archive binary
      uses: actions/upload-artifact@v2
      with:
        name: pyd ${{ matrix.python-version }} ${{ matrix.architecture }}
        path: |
          build/**/*.pyd
          build/**/*.pdb
    - name: Test
      run: |
        python -m pip install pytest
        python -m pytest --verbose test.py
